# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos temporários
*.log
*.tmp

# Ignorar arquivos de build
/build/

backend/credentials_oracle.json

# Outros arquivos ou diretórios a serem ignorados
